Repository n-freman/Twitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, isort, check-json, check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

check-ast:
  description: Simply checks whether the files parse as valid python.
  entry: check-ast
  name: Check python syntax
  language: system

isort:
  description: Sort & format imports in propper way
  entry: isort
  name: Check imports order
  language: system

check-json:
  description: Checks json files for parseable syntax.
  entry: check-json
  name: Check JSON
  language: system

check-toml:
  description: Checks toml files for parseable syntax.
  entry: check-toml
  name: Check TOML
  language: system

check-yaml:
  description: Checks yaml files for parseable syntax.
  entry: check-yaml
  name: Check YAML
  language: system

end-of-file-fixer:
  description: Ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  name: End of file fixer
  language: system

trailing-whitespace:
  description: Trims trailing whitespace.
  entry: trailing-whitespace-fixer
  name: Trailing whitespace
  language: system

fix redis publisher in auth routes
  twitter/entrypoints/fastapi_app/routers/auth.py
Due: check-ast, isort

fix auth bugs & refactor auth services
  pyproject.toml
  twitter/adapters/pub_sub/redis_adapter.py
  twitter/config.py
  twitter/entrypoints/fastapi_app/routers/auth.py
  twitter/entrypoints/fastapi_app/routers/tweets.py
  twitter/presentation/schemas/auth.py
  twitter/services/auth/__init__.py
  twitter/services/unit_of_work.py
Due: check-ast, isort, check-toml

add route to return last tweets
  twitter/entrypoints/fastapi_app/routers/tweets.py
Due: check-ast, isort

move verification email sending to background tasks using celery
  .gitignore
  Dockerfile
  docker-compose.yml
  poetry.lock
  pyproject.toml
  twitter/adapters/background_tasks.py
  twitter/adapters/pub_sub/redis_adapter.py
  twitter/bootstrap.py
  twitter/config.py
  twitter/entrypoints/celery_app/__init__.py
  twitter/entrypoints/email_verification/__init__.py
  twitter/entrypoints/fastapi_app/routers/auth.py
  twitter/presentation/schemas/auth.py
  twitter/services/auth/__init__.py
  twitter/services/email/__init__.py
  twitter/services/email/fake.py
  twitter/services/email/publisher.py
  twitter/services/email/smtp_mail_service.py
  twitter/services/email/subscriber.py
  twitter/services/unit_of_work.py
Due: check-ast, isort, check-toml, check-yaml

refactor register router in api
  twitter/entrypoints/fastapi_app/routers/auth.py
  twitter/presentation/messages/__init__.py
  twitter/presentation/messages/auth.py
  twitter/presentation/schemas/auth.py
  twitter/presentation/schemas/base.py
  twitter/services/auth/__init__.py
  twitter/services/auth/exceptions.py
Due: check-ast, isort

refactor email verification route
  tests/unit/services/auth/test_password_encryption.py
  twitter/entrypoints/fastapi_app/routers/auth.py
  twitter/presentation/messages/auth.py
  twitter/services/auth/__init__.py
  twitter/services/auth/exceptions.py
Due: check-ast, isort

refactor 'resend_email_verification' endpoint
  twitter/adapters/orm.py
  twitter/entrypoints/fastapi_app/routers/auth.py
  twitter/services/auth/__init__.py
  twitter/services/unit_of_work.py
Due: check-ast, isort

setup db & rmq for tests
  Dockerfile
  docker/production.yml
  docker/testing.yml
  run.sh
  tests/base.py
  tests/conftest.py
  tests/test_db_connection.py
  tests/test_startup.py
  twitter/adapters/orm.py
  twitter/config.py
  twitter/entrypoints/fastapi_app/__init__.py
  twitter/presentation/schemas/base.py
Due: check-ast, isort, check-yaml

setup db & rmq for tests
  Dockerfile
  docker/production.yml
  docker/testing.yml
  run.sh
  testing.env
  tests/base.py
  tests/conftest.py
  tests/test_db_connection.py
  tests/test_startup.py
  twitter/adapters/orm.py
  twitter/config.py
  twitter/entrypoints/fastapi_app/__init__.py
  twitter/presentation/schemas/base.py
Due: check-ast, isort, check-yaml

feat refactor run.sh & add test running functionality
  run.sh
Due: none

add testing.env for tests
  testing.env
Due: none

remove unnecessary docker-compose config because it was moved into docker folder
  docker-compose.yml
Due: check-yaml

configure alembic for migrations
  docker/production.yml
  docker/testing.yml
  testing.env
  twitter/adapters/orm.py
  twitter/alembic.ini
  twitter/bootstrap.py
  twitter/migrations/README
  twitter/migrations/env.py
  twitter/migrations/script.py.mako
  twitter/migrations/versions/ce02ec1ffb51_create_a_baseline_migrations.py
Due: check-ast, isort, check-yaml

Path conditions:
  check-ast: any of: \.py$
  isort: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any of: \.py$ and \.(yaml|yml)$ and \.toml$ and \.json$
  trailing-whitespace: any of: \.py$ and \.(yaml|yml)$ and \.toml$ and \.json$
